body {
	font-family: Georgia, Times New Roman, Times, serif;
	text-align: left;
	direction: ltr;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	background: inherit;
	text-align: left;
	font: bold 28px Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 1px;
}

h2 {
	border-bottom: 1px solid #7f7f7f;
	text-align: left;
	font: bold 24px Arial, Helvetica, sans-serif;
}

#maincontent {
}

#contact-row {
	background: #f9f7fe;
	border: 1px solid #bebebe;
	padding: 5px;
}

div#pic {
	text-align: right;
	float: right;
}

#footer {
	border-top: 1px solid #7f7f7f;
	text-align: center;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

div#papertitle {
	margin-top: 10px;
}

div#conference {
	margin-left: 10px;
}

div#conference a {
	color: #000000;
}

div#authors {
	margin-left: 10px;
}

div#authors a {
	color: #000000;	
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #000095;
}

